<html>
    <head>
        <title>Submod</title>
        <link type="text/css" rel="stylesheet" href="static/css/style.css" />
        <script src=static/js/validate.js></script>
    </head>

    <body>
        <div id="header">
            <div id="inner-header">
                <h1>Movie Subtitle Modifier</h1>
                <b>How it works:</b>
                <ol>
                    <li>Choose your subtitle file; the extension should be either <b>.srt</b> or <b>.vtt</b>.</li>
                    <li>Enter the seconds by which to modify the subtitle time encoding.</li>
                    <li>Choose the file type you want to convert to (.srt or .vtt).</li>
                    <li>Click convert; the modified subtitle should download automatically.</li>
                </ol>
            </div>
            <hr />
        </div>
    
        <div id="main">

            <br> <h2 class="center">Convert Subtitle</h2> <br>
            <form class="centerbox" name="form" action=/convert method=post enctype=multipart/form-data onsubmit="return checkFields();">
                <ol>
                    <li>
                        <input type="file" name="subtitlefile" id="subtitlefile" accept=".srt,.vtt" onchange="return validate();"/>
                    </li> <br><br>
    
                    <li>
                        <select name=plusmin>
                            <option value="1">+</option>
                            <option value="-1">-</option>
                        </select>
                        <input type="number" step="0.01" min="0" max="600" name="seconds" id="seconds" placeholder="  seconds" />
                    </li> <br>
    
                    <li>
                        To:
                        <select name=to>
                            <option value="srt">srt</option>
                            <option value="vtt">vtt</option>
                        </select>
                    </li> <br>
    
                    <li>
                        <input type="submit" value="Convert"/>
                    </li>
                </ol>
            </form> <br><br>

            <hr />

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        </div>
    </body>

</html>